* {
  margin: 0;
  padding: 0;
}

header {
  display:flex;
  justify-content: center;
  background-color: gray;
  padding: 5% 0;
}

main {
  margin: 4% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogpost {
  width: 70%;
}

.blogpost h2 {
  margin: 2% 0;
}

p {
  margin: 1% 0;
}
